**/node_modules
**/.next
**/dist
**/.turbo
**/coverage
**/.cache

.git
.gitignore
.github

.env
.env.*
!.env.example

*.log
.DS_Store

.vscode
.idea

README.md
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml
